@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    font-family: "Nunito", serif;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }

  /* typography */

  /* display */
  .display-1 {
    @apply font-nunito text-mobile-display-1 font-bold leading-mobile-display-1 lg:text-desktop-display-1 lg:leading-desktop-display-1;
  }
  .display-2 {
    @apply font-nunito text-mobile-display-2 font-bold leading-mobile-display-2 lg:text-desktop-display-2 lg:leading-desktop-display-2;
  }
  .display-3 {
    @apply font-nunito text-mobile-display-3 font-bold leading-mobile-display-3 lg:text-desktop-display-3 lg:leading-desktop-display-3;
  }

  /* heading */
  .heading-1 {
    @apply font-nunito text-mobile-heading-1 font-bold leading-mobile-heading-1 lg:text-desktop-heading-1 lg:leading-desktop-heading-1;
  }
  .heading-2 {
    @apply font-nunito text-mobile-heading-2 font-bold leading-mobile-heading-2 lg:text-desktop-heading-2 lg:leading-desktop-heading-2;
  }

  .heading-3 {
    @apply font-nunito text-mobile-heading-3 font-bold leading-mobile-heading-3 lg:text-desktop-heading-3 lg:leading-desktop-heading-3;
  }
  .heading-4 {
    @apply font-nunito text-mobile-heading-4 font-bold leading-mobile-heading-4 lg:text-desktop-heading-4 lg:leading-desktop-heading-4;
  }

  /* body */

  /* hero */
  .hero-bold {
    @apply font-nunito text-mobile-body-hero font-bold leading-mobile-body-hero lg:text-desktop-body-hero lg:leading-desktop-body-hero;
  }

  .hero-accent {
    @apply font-nunito text-mobile-body-hero font-semibold leading-mobile-body-hero lg:text-desktop-body-hero lg:leading-desktop-body-hero;
  }

  .hero-emphasis {
    @apply font-nunito text-mobile-body-hero italic leading-mobile-body-hero lg:text-desktop-body-hero lg:leading-desktop-body-hero;
  }

  .hero-standard {
    @apply font-nunito text-mobile-body-hero font-normal leading-mobile-body-hero lg:text-desktop-body-hero lg:leading-desktop-body-hero;
  }

  /* feature */
  .feature-bold {
    @apply font-nunito text-mobile-body-feature font-bold leading-mobile-body-feature lg:text-desktop-body-feature lg:leading-desktop-body-feature;
  }

  .feature-accent {
    @apply font-nunito text-mobile-body-feature font-semibold leading-mobile-body-feature lg:text-desktop-body-feature lg:leading-desktop-body-feature;
  }

  .feature-emphasis {
    @apply font-nunito text-mobile-body-feature italic leading-mobile-body-feature lg:text-desktop-body-feature lg:leading-desktop-body-feature;
  }

  .feature-standard {
    @apply font-nunito text-mobile-body-feature font-normal leading-mobile-body-feature lg:text-desktop-body-feature lg:leading-desktop-body-feature;
  }

  /* highlight */

  .highlight-bold {
    @apply font-nunito text-mobile-body-highlight font-bold leading-mobile-body-highlight lg:text-desktop-body-highlight lg:leading-desktop-body-highlight;
  }

  .highlight-accent {
    @apply font-nunito text-mobile-body-highlight font-semibold leading-mobile-body-highlight lg:text-desktop-body-highlight lg:leading-desktop-body-highlight;
  }

  .highlight-emphasis {
    @apply font-nunito text-mobile-body-highlight italic leading-mobile-body-highlight lg:text-desktop-body-highlight lg:leading-desktop-body-highlight;
  }

  .highlight-standard {
    @apply font-nunito text-mobile-body-highlight font-normal leading-mobile-body-highlight lg:text-desktop-body-highlight lg:leading-desktop-body-highlight;
  }

  /* content */
  .content-bold {
    @apply font-nunito text-mobile-body-content font-bold leading-mobile-body-content lg:text-desktop-body-content lg:leading-desktop-body-content;
  }

  .content-accent {
    @apply font-nunito text-mobile-body-content font-semibold leading-mobile-body-content lg:text-desktop-body-content lg:leading-desktop-body-content;
  }

  .content-emphasis {
    @apply font-nunito text-mobile-body-content italic leading-mobile-body-content lg:text-desktop-body-content lg:leading-desktop-body-content;
  }

  .content-standard {
    @apply font-nunito text-mobile-body-content font-normal leading-mobile-body-content lg:text-desktop-body-content lg:leading-desktop-body-content;
  }

  /* caption */
  .caption-bold {
    @apply font-nunito text-mobile-body-caption font-bold leading-mobile-body-caption lg:text-desktop-body-caption lg:leading-desktop-body-caption;
  }

  .caption-accent {
    @apply font-nunito text-mobile-body-caption font-semibold leading-mobile-body-caption lg:text-desktop-body-caption lg:leading-desktop-body-caption;
  }

  .caption-emphasis {
    @apply font-nunito text-mobile-body-caption italic leading-mobile-body-caption lg:text-desktop-body-caption lg:leading-desktop-body-caption;
  }

  .caption-standard {
    @apply font-nunito text-mobile-body-caption font-normal leading-mobile-body-caption lg:text-desktop-body-caption lg:leading-desktop-body-caption;
  }

  /*Button variants  */
  .button {
    @apply cursor-pointer rounded px-3 py-3 text-center font-nunito font-medium transition-all duration-300 first-letter:uppercase active:text-opacity-50 active:bg-opacity-50 hover:lg:bg-opacity-50 disabled:cursor-default disabled:bg-opacity-50;
  }

  .button-default {
    @apply button bg-neutral-base_black;
  }
  .button-primary {
    @apply button bg-primary;
  }
  .button-secondary {
    @apply button bg-secondary;
  }
  .button-success {
    @apply button bg-success;
  }
  .button-warning {
    @apply button bg-warning-300;
  }
  .button-destructive {
    @apply button bg-error-300;
  }
  .button-muted {
    @apply button bg-stone-500/50;
  }
  .button-ghost {
    @apply button bg-transparent;
  }
  .button-outline {
    @apply button border bg-transparent;
  }
}

body {
  margin: 0px !important;
  padding: 0px !important;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}

.error-message {
  @apply shake-animation rounded bg-error-200/20 px-2 text-center text-error-200;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.transition {
  transition: 0.2s ease-in-out all;
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.hide-scrollbar {
  scrollbar-width: none !important;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #687489 !important;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
}
